

.menu{
    transition: 0.3s;
    width: 140px;
    padding-top: 8px;
    background-color: #fffbeb;
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
    top: 8px;
    position: absolute;

}

.imagem{
    width: 24px;
    height: 24px; 
    transition: 0.3s;   
}

.imagem-dep{
    width: 32px;
    height: 32px;
    transition: 0.3s; 
}

.menu.expandir{
    height: auto;
    width: 300px;
    transition: .1s;  
    padding: 8px 20px 16px 20px;
    transition: 0.3s;
    font-size: 20px;
    
}

.text{
    margin-left: 10px;
}

.item{
    font-size: 20px;
    margin-bottom: 20px;
    transition-duration: 0.3s;  
    color: rgb(87, 87, 87);  
}

.item:hover{
    padding: 0px 10px;
    border-radius: 3px;
    color: black;
    transition-duration: 0.3s;
}

.publique{
    opacity: 0;  
    transform: translateX(-20%); 
    transition: all 1s; 
    color: #5ddb66;
    color: #299431;

}

.publicado{
    opacity: 1; 
    filter: blur(0); 
    transform: translateX(0); 
    transition: all 1s;
}

.publiques{
    opacity: 0;  
    transform: translateX(20%); 
    transition: all 1s; 

}

.publicados{
    opacity: 1; 
    filter: blur(0); 
    transform: translateX(0); 
    transition: all 1s;
}

.publiqueB{
    opacity: 0;  
    filter: blur(20px);

    transition: all 2s; 

}

.publicadoB{
    opacity: 1; 
    filter: blur(0); 
    transition: all 1.5s;
}



