/* @charset "UTF-8"; */

/* @font-face {
    font-family: 'alfa';
    src: url(../../fontes/AlfaSlabOne-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'alexandria';
    src: url(../../fontes/Alexandria-VariableFont_wght.ttf);
    font-weight: normal;
}

:root{
    --fundo1: #97ec9e;
    --fundo2: #83e88a;
    --fundo3: #9ccfec;
    --destaque: #299431;
    --texto: #333;
    --minitexto: #696868;
    --links: #5e17eb;
  
    --font-destaque: 'alfa', serif, cursive;
    --font-padrao: 'alexandria', Arial, sans-serif;
} */

/* .font-destaque{
    font-family: 'alfa', serif, cursive;;
}

.font-padrão{
    font-family: 'alexandria', Arial, sans-serif;
} */


/*

body {
    font-family: var(--fontPadrão);
    background-color: #F5F5F7;
}

nav {
    background-color: #f8f8f8;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.menu {
    display: inline-block;
}

.menu-item {
    text-decoration: none;
    margin: 0 30px;
    transition: color 0.3s;
    display: inline-block;
}

.sac{
    color: var(--corDestaque);
    font-size: 32px;
    font-weight: bolder;
    font-family: var(--fontPadrão);
    letter-spacing: 5px;
}

.menu-item:hover {
    color: #007bff;
}

.separator {
    color: #ccc;
    margin: 0 10px;
    display: inline-block;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0px;
}

.login-btn{
    padding: 5px 8px;
    border-radius: 8px;
    color: #000000;
    text-decoration: none;

} 

.banner {
    background-color: var(--corFundo1);
    padding: 200px 120px;
    text-align: left;
    color: var(--corDestaque);
}

.banner h1 {
    color: var(--corDestaque);
    font-size: 40px;
    font-family: var(--fontDestaque);
    margin-bottom: 8px;
}

.banner p{
    width: 650px;
    font-size: 20px;
    text-align: justify;
}

.importance-section {
    display: flex;
    justify-content: space-around;
    background-color: var(--corFundo2);
    padding: 200px 120px;
    gap: 50px;
}

.importance-section img {
    height: 337px;
    width: 600px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}

.importance-section .text-box {
    width: 55%;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

.importance-section h2{
    font-size: 40px;
    color: var(--corDestaque);
    font-family: var(--fontDestaque);
    margin-bottom: 8px;
}

.importance-section p{
    font-size: 20px;
    color: var(--corDestaque);
}

.titulo{
    margin: 30px;
}

.posts-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    justify-items: center;
    margin: 20px;
}

.post-container {
    text-align: center;
    width: 300px;
}

.post {
    width: 100%; 
    height: 300px;
    background-color: #b3e5fc;
    border-radius: 8px;
}

.texto-abaixo {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
    text-align: left;

}




.footer {
    margin-top: 20px;
    text-align: center;
    padding: 96px 40px;
    background-color: var(--corFundo1);
    border-radius: 10px;
    font-size: 32px;
}

.footer button {
    background-color: #299431;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 40px;
    margin: 30px;
}




body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #f5f5f5;
    padding: 30px 0;
    border-top: 1px solid #e0e0e0;
    
}

.footer-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 60px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    padding: 0 15px;
    margin-bottom: 20px;
    
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
}

.footer-section ul {
    list-style: none;
    font-family: var(--fontPadrão);
}

.footer-section ul li {
    margin-bottom: 8px;
    
}

.footer-section ul li a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    transition: color 0.3s;
    font-family: var(--fontPadrão);
    font-weight: 32px;
}

.footer-section ul li a:hover {
    color: #666;
}

.copyright {
    text-indent: 70px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    color: #666;
    font-size: 14px;
    font-family: var(--fontPadrão);
}  */

