@charset "UTF-8";

:root{
    --corFundo1: #b9f6be;
    --corFundo2: #83e88a;
    --corDestaque: #299431;
    --corFundo3: #f6d1b9;
    --corMiniTexto: #696868;
    --corLinks: #5e17eb;

    --fontPadrão: 'alexandria', arial, sans-serif;
    --fontDestaque: 'alfa', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F7;
}

div.container{
    height: 100vh;
    display: flex;
    justify-content: end;
} 

.image-container {
    width: 75%;
    height: 100%;
    
}

.image-container img {
    max-width: 100%;
    height: 100%;
  
}

div.cadastro-container{
    padding: 50px 70px;
    background-color: var(--corFundo1);
    border-radius: 20px 0px 0px 20px;
    height: auto;
    width: 18%;
    
}

#login{
    padding: 100px 70px;
    background-color: var(--corFundo1);
    border-radius: 20px 0px 0px 20px;
    height: auto;
    width: 18%;
}



.container p{
    padding-top: 40px;
    padding-bottom: 8px;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: var(--corLinks);
    font-weight: bold;
}

a#voltar{
    margin-bottom: 20px;
    display: block;
}

a:hover{
    text-decoration: underline;
    color: #8657e6;
}

.container .texto-mini{
    font-weight: normal;
    padding: 4px 0px;;
}

#etapa{
    color: var(--corMiniTexto);
}

.texto-1{
    margin-top: -20px;
}

input{
    height: 30px;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    justify-content: flex-end;
    width: 100%;
}

div.mini-container{
    display: grid;
    padding-top: 0px;
    margin-top: 0px;
}

div.mini-container a#botao-continuar{
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: var(--corDestaque);
    text-decoration: none;
    font-weight: bold;
    justify-self: start;
    font-size: 1em;
}

div.mini-container button#botao-cadastrar{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: var(--corDestaque);
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 40px;
    justify-self: start;
    font-size: 1em;
}

div.mini-container button#botao-entrar{
    margin-top: 20px;
    padding: 7px 20px;
    border-radius: 10px;
    display: inline-block;
    color: white;
    background-color: var(--corDestaque);
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 90px;
    font-size: 1em; 
    justify-self: start;
}





