@charset "UTF-8";

:root{
    --corFundo1: #b9f6be;
    --corFundo2: #83e88a;
    --corDestaque: #299431;
    --corFundo3: #f6d1b9;
    --corMiniTexto: #696868;
    --corLinks: #5e17eb;

    --fontPadrão: 'alexandria', arial, sans-serif;
    --fontDestaque: 'alfa', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 204, 206);
}

div.container{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
} 


div.cadastro{
    padding: 30px 70px;
    background-color: var(--corFundo1);
    border-radius: 20px 0px 0px 20px;
    height: auto;
    width: 18%;
    display: grid;
    place-items: center;
}

.image-container {
    width: 75%;
    height: 100%; /* Altura total do container */
}
.image-container img {
    max-width: 100%;
    height: 100%;
}

.primeiro2{
    margin-top: -20px;
}


.container .mini{
    font-weight: normal;
    padding: 4px 0px;;
}

.container p{
    padding-top: 40px;
    padding-bottom: 8px;
    font-weight: bolder;
}



a#continuar{
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: var(--corDestaque);
    text-decoration: none;
    font-weight: bold;
    justify-self: end;
    font-size: 1em;
}



.cont{
    display: grid;
    place-items: right;
    padding-top: 0px;
    margin-top: 0px;
}

#cadastrar{
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    color: white;
    background-color: var(--corDestaque);
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    justify-self: end;
    font-size: 1em;
}

input{
    height: 30px;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    justify-content: flex-end;
    width: 100%;
}

#entrar{
    margin-top: 20px;
    padding: 7px 20px;
    border-radius: 10px;
    display: inline-block;
    color: white;
    background-color: var(--corDestaque);
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 90px;
    font-size: 1em; 
    justify-self: right;
}


#etapa{
    color: var(--corMiniTexto);
}

a{
    text-decoration: none;
    color: var(--corLinks);
    font-weight: bold;
}

a#voltar{
    margin-bottom: 25px;
    display: block;
}

a:hover{
    text-decoration: underline;
}

